<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-50</string>
		<string>Icon-57</string>
		<string>Icon-58</string>
		<string>Icon-72</string>
		<string>Icon-76</string>
		<string>Icon-80</string>
		<string>Icon-87</string>
		<string>Icon-100</string>
		<string>Icon-114</string>
		<string>Icon-120</string>
		<string>Icon-144</string>
		<string>Icon-152</string>
		<string>Icon-180</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon-29</string>
		<string>Icon-40</string>
		<string>Icon-50</string>
		<string>Icon-57</string>
		<string>Icon-58</string>
		<string>Icon-72</string>
		<string>Icon-76</string>
		<string>Icon-80</string>
		<string>Icon-87</string>
		<string>Icon-100</string>
		<string>Icon-114</string>
		<string>Icon-120</string>
		<string>Icon-144</string>
		<string>Icon-152</string>
		<string>Icon-180</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.paysdk.cocos2d</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc551587ec5a55ceb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2017073107971452</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uppayx3</string>
		<string>uppayx2</string>
		<string>uppayx1</string>
		<string>uppaywallet</string>
		<string>uppaysdk</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>moba6b6c6d6</string>
	<key>MOBAppSecret</key>
	<string>b89d2427a3bc7ad1aea1e1e8c1d36bf3</string>
	<key>UIAppFonts</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
